body{

font-family: Arial, sans-serif;
background: linear-gradient(135deg,#1b5e20,#4caf50);

display:flex;
justify-content:center;
align-items:center;

min-height:100vh;

margin:0;

}


.contenedor{

background:white;

width:500px;

padding:30px;

border-radius:20px;

text-align:center;

box-shadow:0 10px 30px rgba(0,0,0,0.3);

}


h1{

color:#2e7d32;

}


button{

background:#2e7d32;

color:white;

border:none;

padding:15px 25px;

margin:10px;

border-radius:10px;

font-size:16px;

cursor:pointer;

}


button:hover{

background:#1b5e20;

}


#camara canvas{

border-radius:15px;

margin-top:20px;

}


.resultado{

background:#f1f8e9;

padding:15px;

border-radius:15px;

margin-top:20px;

}


#resultado{

font-size:28px;

color:#1b5e20;

}


.estado{

margin-top:20px;

font-weight:bold;

}